-e git://github.com/fusionbox/django-fusionbox.git@master#egg=django_fusionbox
-e git+ssh://git@github.com/fusionbox/django-tagging.git@master#egg=django_tagging-dev
-e git+ssh://git@github.com/fusionbox/django-ckeditor.git@master#egg=django_ckeditor-dev
django-reversion==1.4
django-extensions
Django==2.2.24
Fabric==1.4.3
South
